$font-size-base: 16;

$bgColor: #f8fafc;

$black: #161616;
$white: #ffffff;

$grey50: #f8fafc;
$grey100: #eef2f6;
$grey200: #e3e8ef;
$grey300: #cdd5df;
$grey400: #9aa3b2;
$grey500: #697586;
$grey600: #4b5565;
$grey700: #364152;
$grey800: #202939;
$grey900: #121926;

$error50: #fef3f2;
$error500: #f04438;
$error600: #d92d20;
$error700: #b42318;

$warning50: #fffaeb;
$warning100: #fef0c7;
$warning500: #f79009;
$warning700: #b54708;

$success50: #ecfdf3;
$success100: #d1fadf;
$success500: #12b76a;
$success700: #027a48;

$blue50: #eff8ff;
$blue500: #2970ff;
$blue700: #175cd3;

$shadowSm: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);

$breakpoint-md: 768px;
